
<h2 style="display: inline">
  {{#link-to 'question' messageboard.id}}
    {{messageboard.question}}
    <span id="fire" style="text-align:right ; color: orange">
      {{question-popularity messageboard}}
    </span>
  {{/link-to}}
</h2>
