<h1 id="indexheader" style="padding-bottom: 5%"> Check out these questions. Respond if you care.</h1>

<br>
<ul>
{{#each model as |message|}}
<li style="display: inline;"><span id="question" style="text-align:left">{{messageboard-post messageboard=message}}</span><hr></li>
{{/each}}
</ul>

<div id="newbutton" style="margin-left: 3%">{{new-messageboard saveMessageboard2="saveMessageboard3"}}</div>
